ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	border-color: #e7e7e7;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
	border: solid #ccc 1px;	
	border-bottom-style: none;
}

ul.details{
	padding: 1%;
	display: table;	
}

ul.details li{	
	display: table-row;
}

ul.details li label, ul.details li input, ul.details li button{	
	display: table-cell;	
	margin: 2px;
	vertical-align: middle;
}

table .table_details {
   width: 15vw;
   border-collapse: collapse;
}

.table_details tbody, .table_details thead tr{	
	display: block;	
}

.table_details tbody{
	height: 55vh;
	overflow-y: auto;
}

.table_details tbody td:first-child, .table_details thead th:first-child{
	width: 5vw;
}

.table_details tbody td, .table_details thead th{
	width: 15vw;
}


.table_details tbody tr:hover {
    background-color: #ccc;
    cursor: pointer;
}

.table_details tr.active{
	background-color: #ccc;
}

table #tasks {
   width: 10vw;
   border-collapse: collapse;
}

#tasks tbody, #tasks thead tr{	
	display: block;	
}

#tasks tbody{
	text-align: left;
	height:20vh;
	overflow-y: auto;
}


#tasks tbody td, #tasks thead th{
	width: 10vw;
}


