table #lessons_info {
   width: 10vw;
   border-collapse: collapse;
}

#lessons_info tbody, #lessons_info thead tr{	
	display: block;	
}

#lessons_info tbody{
	height: 30vh;
	overflow-y: auto;
}


#lessons_info tbody td, #lessons_info thead th{
	width: 10vw;
}


#lessons_info tbody tr:hover {
    background-color: #ccc;
    cursor: pointer;
}

tr.active td{
	color: #428bca;
	font-weight: bold;
}

ul#lesson_details{
	padding: 1%;
	display: table;	
}

ul#lesson_details li{	
	display: table-row;
}

ul#lesson_details li label, ul#lesson_details li input, ul#lesson_details li button{	
	display: table-cell;	
	margin: 2px;
	vertical-align: middle;
}

