table #parent_list {
    border-collapse: collapse;	
}

#parent_list tbody, #parent_list thead{	
	display: block;
	overflow-y: auto;
	margin-bottom: 1%;	
}

#parent_list tbody{
	height: 55vh;
	border-top: 1px solid black;	
	border-bottom: 1px solid black;	
}

#parent_list tr {
    background-color: white;    
}

#parent_list tr:hover {
    background-color: #ccc;
}
#parent_list th {	
    background-color: #fff;	
	width: 10vw;
}
#parent_list th, #parent_list td {
    padding: 3px 5px;
}
#parent_list td:hover {
    cursor: pointer;
}

#parent_list td.fname, #parent_list td.lname{
	width: 5vw;
}

#parent_list tr.active{
	background-color: #ccc;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	border-color: #e7e7e7;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
	border: solid 1px;	
	border-bottom-style: none;
}

.tab-content{
	display: none;			
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}	


ul.fields, ul.medical{
	padding: 1%;
	display: table;
}

ul.fields li, ul.medical li{	
	display: table-row;
	margin-top: 1%;
	margin-bottom: 1%;
}

ul.fields li label, ul.fields li input, ul.medical li label, ul.medical li select{	
	display: table-cell;
	margin-left: 20px;
	vertical-align: middle;
}

div.biodata{	
	height: 65vh;
	display: block;	
}


