table .member_list {
   width: 15vw;
   border-collapse: collapse;   
}

.member_list tbody, .member_list thead tr{	
	display: block;	
}

.member_list tbody{
	height: 55vh;
	overflow-y: scroll;
}

#parent_list tbody td:first-child, #parent_list thead th:first-child{
	width: 5vw;
}

#payments tbody td:first-child, #payments thead th:first-child{
	width: 5vw;
}

.member_list tbody td, .member_list thead th{
	width: 15vw;
}


.member_list tbody tr:hover {
    background-color: #ccc;
    cursor: pointer;
}

.member_list tr.active{
	background-color: #ccc;
}

#payments tbody{
	height: 30vh;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	border-color: #e7e7e7;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
	border: solid #ccc 1px;	
	border-bottom-style: none;
}

.tab-content{
	display: none;			
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}	


ul.fields, ul.medical{
	padding: 1%;
	display: table;
}

ul.fields li, ul.medical li{	
	display: table-row;
	margin-top: 1%;
	margin-bottom: 1%;
}

ul.fields li label, ul.fields li input, ul.fields li select{	
	display: table-cell;
	margin-left: 20px;
	vertical-align: middle;
}

ul.fields li button{
	display: table-row;
}

div.biodata{	
	height: 65vh;
	display: block;	
}


