
table .table {
   width: 15vw;
   border-collapse: collapse;
}

.table tbody, .table thead tr{	
	display: block;	
}

.table tbody{
	height: 30vh;
	overflow-y: auto;
}


.table tbody td:first-child, .table thead th:first-child{
	width: 5vw;
}

.table tbody td, .table thead th{
	width: 15vw;
}


.table tbody tr:hover {
    background-color: #ccc;
    cursor: pointer;
}

tr.active td{
	color: #428bca;
	font-weight: bold;
}

ul.payment_menu{
	padding: 1%;
	display: table;
}

ul.payment_menu li{	
	display: table-row;
}

ul.payment_menu li label, ul.payment_menu li input{	
	display: table-cell;	
	margin: 10px;
	vertical-align: middle;
}

ul.payment_details{
	padding: 1%;
	display: table;
}

ul.payment_details li{	
	display: table-row;
}

ul.payment_details li label, ul.payment_details li input, ul.payment_details li select{	
	display: table-cell;	
	margin: 10px;
	vertical-align: middle;
}