table #payment_list {
   width: 15vw;
   border-collapse: collapse;
}

#payment_list tbody, #payment_list thead tr{	
	display: block;	
}

#payment_list tbody{
	height: 55vh;
	overflow-y: auto;
}

#payment_list tbody td:first-child, #payment_list thead th:first-child{
	width: 5vw;
}

#payment_list tbody td, #payment_list thead th{
	width: 15vw;
}


#payment_list tbody tr:hover {
    background-color: #ccc;
    cursor: pointer;
}

#payment_list tr.active{
	background-color: #ccc;
}

ul.payment_menu{
	padding: 1%;
	display: table;
}

ul.payment_menu li{	
	display: table-row;
}

ul.payment_menu li label, ul.payment_menu li input{	
	display: table-cell;	
	margin: 10px;
	vertical-align: middle;
}

ul.payment_details{
	padding: 1%;
	display: table;
}

ul.payment_details li{	
	display: table-row;
}

ul.payment_details li label, ul.payment_details li input, ul.payment_details li select{	
	display: table-cell;	
	margin: 10px;
	vertical-align: middle;
}