table #payment_list {
    border-collapse: collapse;	
}

#payment_list tbody, #payment_list thead{	
	display: block;
	overflow-y: auto;
	margin-bottom: 1%;	
}

#payment_list tbody{
	height: 60vh;
	border-top: 1px solid black;	
	border-bottom: 1px solid black;	
}

#payment_list tr {
    background-color: white;    
}

#payment_list tr:hover {
    background-color: #ccc;
}
#payment_list th {	
    background-color: #fff;		
}
#payment_list th, #payment_list td {
    padding: 3px 5px;
}
#payment_list td:hover {
    cursor: pointer;
}

#payment_list tr.active{
	background-color: #ccc;
}

ul.payment_menu{
	padding: 1%;
	display: table;
}

ul.payment_menu li{	
	display: table-row;
}

ul.payment_menu li label, ul.payment_menu li input{	
	display: table-cell;	
	margin: 10px;
	vertical-align: middle;
}

ul.payment_details{
	padding: 1%;
	display: table;
}

ul.payment_details li{	
	display: table-row;
}

ul.payment_details li label, ul.payment_details li input, ul.payment_details li select{	
	display: table-cell;	
	margin: 10px;
	vertical-align: middle;
}