ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	border-color: #e7e7e7;
	padding: 10px 15px;	
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
	border: solid #ccc 1px;	
	border-bottom-style: none;
}

table.skill_table {
    border-collapse: collapse;	
	width: 30vw;
}

table .skill_table {
   width: 15vw;
   border-collapse: collapse;
}

.skill_table tbody, .skill_table thead tr{	
	display: block;	
}

.skill_table tbody{
	height: 30vh;
	overflow-y: auto;
}

.skill_table tbody td:first-child, .skill_table thead th:first-child{
	width: 5vw;
}

.skill_table tbody td, .skill_table thead th{
	width: 15vw;
}


.skill_table tbody tr:hover {
    background-color: #ccc;
    cursor: pointer;
}

.skill_table tr.active{
	background-color: #ccc;
}

ul.details{
	padding: 1%;
	display: table;	
}

ul.details li{	
	display: table-row;
}

ul.details li label, ul.details li input, ul.details li textarea{	
	display: table-cell;	
	margin: 10px;
	vertical-align: middle;
}

