table #staff_list {
   width: 15vw;
   border-collapse: collapse;
}

#staff_list tbody, #staff_list thead tr{	
	display: block;	
}

#staff_list tbody{
	height: 55vh;
	overflow-y: auto;
}

#staff_list tbody td, #staff_list thead th{
	width: 15vw;
}


#staff_list tbody tr:hover {
    background-color: #ccc;
    cursor: pointer;
}

#staff_list tr.active{
	background-color: #ccc;
}

#staff_list tr.active{
	background-color: #ccc;
}

ul#staff_details{
	padding: 1%;
	display: table;	
}

ul#staff_details li{	
	display: table-row;
}

ul#staff_details li label, ul#staff_details li input, ul#staff_details li button, ul#staff_details li span{	
	display: table-cell;	
	margin: 2px;
	vertical-align: middle;
}

