table #term_list {
    border-collapse: collapse;	
}

#term_list tbody, #term_list thead{	
	display: block;
	overflow-y: auto;
	margin-bottom: 1%;	
}

#term_list tbody{
	height: 60vh;
	border-top: 1px solid black;	
	border-bottom: 1px solid black;	
}

#term_list tr {
    background-color: white;    
}

#term_list tr:hover {
    background-color: #ccc;
}
#term_list th {	
    background-color: #fff;		
}
#term_list th, #term_list td {
    padding: 3px 5px;
}
#term_list td:hover {
    cursor: pointer;
}

#term_list tr.active{
	background-color: #ccc;
}

ul.term_dates{
	padding: 1%;
	display: table;
}

ul.term_dates li{	
	display: table-row;
}

ul.term_dates li label, ul.term_dates li input{	
	display: table-cell;	
	margin: 10px;
	vertical-align: middle;
}