table #term_list {
   width: 15vw;
   border-collapse: collapse;
}

#term_list tbody, #term_list thead tr{	
	display: block;	
}

#term_list tbody{
	height: 55vh;
	overflow-y: scroll;
}

#term_list tbody td:first-child, #term_list thead th:first-child{
	width: 5vw;
}

#term_list tbody td, #term_list thead th{
	width: 15vw;
}


#term_list tbody tr:hover {
    background-color: #ccc;
    cursor: pointer;
}

tr.active td{
	color: #428bca;
	font-weight: bold;
}

ul.term_dates{
	padding: 1%;
	display: table;
}

ul.term_dates li{	
	display: table-row;
}

ul.term_dates li label, ul.term_dates li input{	
	display: table-cell;	
	margin: 10px;
	vertical-align: middle;
}